
<h2>Update Product details</h2>
<form class="row g-3" (ngSubmit)="updateProduct(updateProductForm)"  #updateProductForm="ngForm">
    <div class="container mt-4 justify-content-center">
        <div class="col-md-6">
            <label for="validationServer01">Product Id</label>
            <input type="text" name="id" [(ngModel)]="productDetails.id" class="form-control" id="validationServer01" required>
        </div>
        <div class="col-md-6">
            <label for="validationServer02">Product Name</label>
            <input type="text" name="productName" [(ngModel)]="productDetails.productName" class="form-control" id="validationServer02" required>
        </div>
        <div class="col-md-6">
            <label for="validationServer03">Category Id</label>
            <input type="text" name="categoryId" [(ngModel)]="productDetails.categoryId" class="form-control" id="validationServer03" required>
        </div>
        <div class="col-md-6">
            <label for="validationServer04">Description</label>
            <input type="text" name="description" [(ngModel)]="productDetails.description" class="form-control" id="validationServer04" required>
        </div>
        <div class="col-md-6">
            <label for="validationServer05">Price</label>
            <input type="text" name="price" [(ngModel)]="productDetails.price" class="form-control" id="validationServer05" required>
        </div>
        <div class="col-md-6">
            <label for="validationServer06">Availability</label>
            <input type="text" name="is_available" [(ngModel)]="productDetails.is_available" class="form-control" id="validationServer06" required>
        </div>
        <div class="col-md-6">
            <label for="validationServer07">Product Image</label>
            <input type="text" name="productimg" [(ngModel)]="productDetails.productimg" class="form-control" id="validationServer07" required>
        </div>
        <div class="col-md-6">
            <label for="validationServer08">Rating</label>
            <input type="text" name="rating" [(ngModel)]="productDetails.rating" class="form-control" id="validationServer08" required>
        </div>
        <div class="col-md-6">
            <label for="validationServer09">Review</label>
            <input type="text" name="review" [(ngModel)]="productDetails.review" class="form-control" id="validationServer09" required>
        </div>
        <div class="col-md-6">
            <label for="validationServer10">Vendor Name</label>
            <input type="text" name="vendor_name" [(ngModel)]="productDetails.vendor_name" class="form-control" id="validationServer10" required>
        </div>
        <div class="col-md-6">
            <label for="validationServer11">warranty</label>
            <input type="text" name="warranty" [(ngModel)]="productDetails.warranty" class="form-control" id="validationServer11" required>
        </div>
        <button class="btn btn-primary mt-3">Submit form</button>
    </div>
</form>


